name = "try-hono"
main = "src/index.ts"
compatibility_date = "2024-11-14"

# compatibility_flags = [ "nodejs_compat" ]

[vars]
OPENAI_BASE_URL = "https://openrouter.ai/api/v1"
OPENAI_API_KEY = "sk-xxxxxxxxxxxxxxx"
OPENAI_MODEL = "qwen/qwen-2-7b-instruct:free"

[observability]
enabled = true
head_sampling_rate = 1

[[unsafe.bindings]]
name = "RATE_LIMITER"
type = "ratelimit"
namespace_id = "1001"

simple = { limit = 30, period = 60 }
